<a href="https://colab.research.google.com/github/RohanTemgire/DASimpleProjs/blob/main/SalariesDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Salaries Data Analysis

In [140]:
import pandas as pd

In [141]:
df = pd.read_csv('/content/Salaries.csv')

<ipython-input-141-9d3195b31248>:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')

##1.  Display Top 10 Rows of The Dataset

In [142]:
df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

##2. Check Last 10 Rows of The Dataset

In [143]:
df.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148645,148646,Carolyn A Wilson,Human Services Technician,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,NaN,San Francisco,PT

##3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [144]:
df.shape

(148654, 13)

##4.  Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

##5. Check Null Values In The Dataset

In [146]:
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

##6. Drop ID, Notes, Agency, and Status Columns

In [147]:
df.drop(columns=['Id','Notes','Agency','Status'],inplace = True)

In [148]:
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011

##7. Get Overall Statistics About The Dataframe

In [149]:
df.describe()

            TotalPay  TotalPayBenefits           Year
count  148654.000000     148654.000000  148654.000000
mean    74768.321972      93692.554811    2012.522643
std     50517.005274      62793.533483       1.117538
min      -618.130000       -618.130000    2011.000000
25%     36168.995000      44065.650000    2012.000000
50%     71426.610000      92404.090000    2013.000000
75%    105839.135000     132876.450000    2014.000000
max    567595.430000     567595.430000    2014.000000

##8. Find Occurrence of The Employee Names  (Top 5)

In [150]:
df.groupby('EmployeeName')['EmployeeName'].count().sort_values(ascending = False).head(5)

EmployeeName
Kevin Lee       13
Steven Lee      11
William Wong    11
Richard Lee     11
John Chan        9
Name: EmployeeName, dtype: int64

##9. Find The Number of Unique Job Titles

In [151]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [152]:
df.JobTitle.nunique()

2159

##10.Total Number of Job Titles Contain Captain

In [153]:
df.JobTitle.isnull().sum()

0

In [154]:
df[df.JobTitle.str.contains('Captain')].shape

(411, 9)

##11. Display All the Employee Names From Fire Department

In [155]:
df[df.JobTitle.str.contains('FIRE DEPARTMENT')]['EmployeeName']

4           PATRICK GARDNER
6                 ALSON LEE
8            MICHAEL MORRIS
9        JOANNE HAYES-WHITE
10            ARTHUR KENNEY
                ...
4955              AUDRY LEE
5498          VINCENT PEREZ
8436          JENSEN RHODES
16285       AARON STEVENSON
32623          JAMES BARDEN
Name: EmployeeName, Length: 222, dtype: object

##12. Find Minimum, Maximum, and Average BasePay

In [156]:
df.BasePay.dtype

dtype('O')

In [157]:
df.BasePay.isnull().sum()

605

In [158]:
df.dropna(subset=['BasePay'], inplace=True)

In [159]:
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')

In [160]:
df.BasePay.describe()

count    148045.000000
mean      66325.448840
std       42764.635495
min        -166.010000
25%       33588.200000
50%       65007.450000
75%       94691.050000
max      319275.010000
Name: BasePay, dtype: float64

##13. Replace 'Not Provided' in EmployeeName' Column to NaN

In [161]:
df[df.EmployeeName.str.contains('Not Provided')]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
13797,Not Provided,PUBLIC SAFETY COMMUNICATIONS DISPATCHER,57963.39,19683.91,4373.86,NaN,82021.16,82021.16,2011
44151,Not Provided,Public SafetyComm Disp,82196.52,25934.2,3752.49,38024.3,111883.21,149907.51,2012

In [162]:
df.EmployeeName.replace('Not Provided','NaN',inplace=True)

In [163]:
df[df.EmployeeName.str.contains('NaN')]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
13797,NaN,PUBLIC SAFETY COMMUNICATIONS DISPATCHER,57963.39,19683.91,4373.86,NaN,82021.16,82021.16,2011
44151,NaN,Public SafetyComm Disp,82196.52,25934.2,3752.49,38024.3,111883.21,149907.51,2012

##14. Drop The Rows Having 5 Missing Values

In [164]:
# already done

##15. Find Job Title of ALBERT PARDINI

In [165]:
df[df['EmployeeName']=='ALBERT PARDINI'].JobTitle

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

##16. How Much ALBERT PARDINI Make (Include Benefits)?

In [166]:
df[df['EmployeeName']=='ALBERT PARDINI'].TotalPayBenefits

2    335279.91
Name: TotalPayBenefits, dtype: float64

##17.Display Name of The Person Having The Highest BasePay

In [167]:
df.iloc[df.BasePay.idxmax()].EmployeeName

'Gregory P Suhr'

##18.Find Average BasePay of All Employee Per Year

In [168]:
df.groupby(['EmployeeName','Year'])['BasePay'].mean()

EmployeeName           Year
A BERNARD FATOOH       2011    19969.37
A Bernard  Fatooh      2013    23908.50
A Bernard Fatooh       2012    18472.35
                       2014    24061.35
A ELIZABETH MARCHASIN  2011    23591.80
                                 ...
Zuna T Luu             2013    55026.00
                       2014    54703.00
Zuri  Jones            2013    71986.90
Zuri Jones             2012    86588.52
                       2014    66667.54
Name: BasePay, Length: 140480, dtype: float64

##19. Find Average BasePay of All Employee Per JobTitle

In [169]:
df.groupby(['JobTitle'])['BasePay'].mean()

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2155, dtype: float64

##20. Find Average BasePay of Employee Having Job Title ACCOUNTANT

In [170]:
df[df.JobTitle.str.contains('ACCOUNTANT')]['BasePay'].mean()

63668.260187265914

##21. Find Top 5 Most Common Jobs

In [171]:
df.groupby(['JobTitle'])['JobTitle'].count().sort_values(ascending=False).head(5)

JobTitle
Transit Operator                6975
Special Nurse                   4382
Registered Nurse                3725
Public Svc Aide-Public Works    2514
Police Officer 3                2411
Name: JobTitle, dtype: int64